{
  "presets": [
    ["env", {
      "targets": {
        "node": "6"
      }
    }]
  ],
  "plugins": [
    "transform-runtime",
    "transform-function-bind",
    "transform-class-properties",
    "transform-decorators-legacy"
  ]
}
